{% assign compare_price_exists = price_compare %}

<li class="card">
  <a class="card__image__wrapper" href="{{ product.url }}">
    <img src="{{ product.images.first.src | img_url: '300x300' }}" alt="{{ product.title }}" loading="lazy">
    <footer class="card__footer">
      <span>{{ product.title }}</span>
      <div class="card__price">
        <span class="card__compare__price">{{ product.compare_at_price | money }}</span>
        <span>{{ product.price | money }}</span>
      </div>
    </footer>
  </a>
</li>
